<div class="row">
    <div class="col-md-12">
        <h2>Suporte e Contato</h2>
        <br>
        <p>Entre em contato com o suporte técnico para dúvidas, sugestões ou problemas técnicos:</p>
        <!-- Incluir informações de contato, como e-mail, telefone, formulário de contato, etc. -->
        <p>E-mail: suporte@paotech.com.br</p>
        <p>Telefone: (00) 1234-5678</p>
    </div>
</div>